@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: Roboto, sans-serif;
}

.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  padding: 10px 20px;
  color: white;
  background-color: #3683D6;
}

.top-navigation .toggle-sidebar {
  cursor: pointer;
  font-size: 30px;
}

.fa-spacing {
  margin-right: 10px;
}
